

body{
    background: linear-gradient(180deg,#609ED4,#356EA9);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

header{
    margin: 50px;
}

header h1{
    color: #031831;
    font-size: 2.5em;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: row;
}

/*Seccion del area de ingreso de texto*/
.areaEncriptado{
    width: 59.5%;
    height: 85vh;
    margin: 0 25px 0 200px;
}

.areaEncriptado #texto{
    margin:10px;
    width: 97.5%;
    height: 80%;
    resize: none;
    color: #031831;
    font-size: 3em;
    text-align: justify;
    inline-size: 1.5;
    background: transparent;
    border: none;
}

.areaEncriptado #texto::placeholder{
    color: #031831;
    font-size: 0.9em;
    font-weight: bold;
}

.areaEncriptado #texto:focus{
    outline: none;
}

.msjAdvertencia{
    margin: 0 0 10px 10px;
    font-size: 12px;
    color: azure;
}

.boton{
    height: 60px;
    border: 2px solid #031831;
    border-radius: 20px; 
    font-size: 1.2rem;
}

.grupoBotonoes .boton{
    width: 45%;
    margin-left: 10px;
}

#btnEncriptar{
    background: #031831;
    color: aliceblue;
}



/*Seccion del area de resultados */
.areaResultado{
    background-color:azure;
    box-shadow: 0 0 20px 5px #031831;
    justify-content: end;
    width: 25%;
    height: 92vh;
    margin: -110px 30px 0 0;
    border-radius: 15px;
}


/*Seccion a mostrar cuando no hay texto encontrado*/
.noEncontrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;   
}

.noEncontrado h2{
    font-size: 1.5em;
    font-weight: bold;
    width: 80%;
    margin: 15px;
    text-align: center;
}

.imagenBuscar{
    width: 100%;
    height: auto;
}

.noEncontrado p{
    display: block;
    font-size: 1em;
    width: 80%;
    text-align: center;
    line-height: 1.5;
}

/*Seccion a mostrar cuando hay texto encontrado*/

.txtEncontrado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.txtEncontrado #resultado{
    width: 80%;
    margin: 50px;
    color: #031831;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    line-height: 1.5;
}

.areaResultado .txtEncontrado .boton{
    position: relative;
    bottom: 0px;
    width: 85%;
}

.txtEncontrado #btnCopiar{
    margin: 0 auto;
    margin-bottom: 25px;
}

.areaResultado .txtEncontrado{
    display: none;
}


/*configuracion tamaño pantalla tablets*/
@media screen and (max-width:1024px){


    main{
        display: flex;
        flex-direction: column;
    }

    .areaEncriptado{
        width: 90%;
        height: 75vh;
        margin: 0 auto;
    }

        
    .grupoBotonoes{
        margin: 0 auto;
    }

    .imagenBuscar{
        display: none;
    }

    .areaResultado{
        height: auto;
        width: 85%;
        margin: 0 auto;
        margin-top: -40px;
        padding: 20px;
    }

    .areaResultado #resultado{
        margin: 5px 5px 50px 5px;
    }

}

/*configuracion tamaño pantalla celulares*/
@media screen and (max-width:480px) {

    header h1{
        font-size: 1.8em;
        text-align: center;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    .areaEncriptado{
        width: 90%;
        height: 50vh;
        margin: 0 auto;
    }

    .areaEncriptado #texto::placeholder{
        font-size: 1.6rem;
    }

    .areaEncriptado #texto{
        font-size: 1.5rem;
        height: 73%;
    }

    .grupoBotonoes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grupoBotonoes .boton{
        width: 90%;
        margin-bottom: 5px;
    }

    .imagenBuscar{
        display: none;
    }

    .areaResultado{
        height: auto;
        width: 85%;
        margin: 0 auto;
        margin-top: 90px;
        padding: 10px;
    }

    .noEncontrado h2{
        font-size: 1.2em;
    }

    .noEncontrado p{
        font-size: 18px;
        line-height: 1;
        margin-bottom: 10px;
    }

    .areaResultado #resultado{
        margin: 5px 5px 50px 5px;
        font-size: 1.2rem;
    }

}